Source: django-openstack-auth
Maintainer: Nebula Voyager <voyager@nebula.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3),
 debhelper (>= 7),
 python-support (>= 0.8.4)
XS-Python-Version: >=2.6
Standards-Version: 3.8.4

Package: python-django-openstack-auth
Architecture: all
Homepage: https://github.com/4P/python-django-openstack-auth
Depends: ${misc:Depends}, ${python:Depends},
 python-django,
 python-keystoneclient
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: A Django auth backend for use with the OpenStack Identity backend.
